{% extends "polls/base.html" %}

{% block title %}Offene Abstimmungen ‒ ZaPF Abstimmungstool{% endblock %}

{% block shorttitle %}Aktuell offene Abstimmungen{% endblock %}

{% block content %}

<div class="alert alert-info">{{ message }}</div>
{% if questions %}
    {% for question in questions %}
    <div class='card mb-3'>
        <div class='card-body'>
            <h3 class="card-title">{{ question.question_title }}</h3>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <p class="card-text">{{ question.question_text }}</p>
        </div>
        <div class="card-footer bg-white">
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                {% for choice in question.choices.all %}
                    <input type="radio" name="choice" id="choice-{{ question.id }}-{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice-{{ question.id }}-{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
                <input type="submit" value="Abstimmen">
            </form>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>Es sind aktuell keine Abstimmungen offen.</p>
{% endif %}
{% endblock %}
